footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);
  min-height: 15dvh;
  font-weight: 300;
}

footer a {
  text-decoration: none;
  color: var(--text-secondary-color)
}

footer a:visited {
  color: pink;
}