:root {
  --text-primary-color: #FFFFFF;
  --text-secondary-color: #99AABB;
}

.background {
  background-color: rgb(20, 24, 28);
}

.App {
  height: 100dvh;
  padding: 0 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.favs-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-secondary-color);
}

.favs-header {
  color: var(--text-secondary-color);
  color: #9ab;
}

.edit-icon {
  height: auto;
  width: 24px;
}

.favs-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.poster {
  height: auto;
  width: 23.5%;
  display: inline-block;
}
