:root {
  --text-primary-color: #FFFFFF;
  --text-secondary-color: #99AABB;
  --background-color: rgb(20, 24, 28);
  --secondary-background-color: rgb(32, 38, 42);
}

.background {
  background-color: var(--background-color);
}

.app {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100dvh;
}
