.nav-background {
  background-color: var(--secondary-background-color);
  height: 60px;
  display: flex;
  justify-content: center;
}

.nav {
  min-width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-logo {
  width: 62px;
  height: auto;
}

.burger {
  width: 32px;
  height: auto;
}

.burger:hover {
  cursor: pointer;
}

.menu {
  position: fixed;
  inset: 0 0 0 70%;
  z-index: 3;
  background: hsl(0 0% 100% / .2);
  backdrop-filter: blur(1rem);
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.menu-cross {
  align-self: flex-end;
  margin-right: 2rem;
  margin-top: 1rem;
  background: none;
  border: none;
}

.menu-cross:hover {
  cursor: pointer;
}

.menu-cross-img {
  width: 32px;
  height: auto;
}

.menu ul {
  list-style-type: none;
  margin-top: 2rem;
}

.menu a {
  color: inherit;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
}